<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <div class="">

          <h4 class="mb-0 font-size-18">Progress</h4>
          <div class="page-title-left">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Project</a></li>
              <li class="breadcrumb-item active">Progress</li>
            </ol>
          </div>
        </div>
        <div class="d-flex">

        </div>
      </div>
    </div>
  </div>

  <!-- Grid View -->
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="progress-timeline">
            <div class="pt-header text-center">
              <img src="assets/images/companies/img-1.png" class="img-fluid rounded-circle">
              <h3>Skote IT Solutions</h3>
              <h5>Here's what's been happening in your projects.</h5>
            </div>
            <div class="pt-body">
              <ul class="timeline">
                <li class="tl-left">
                  <div class="timeline-badge">saturday, May 11</div>
                  <div class="timeline-panel">
                    <div class="tp-header">
                      Management Tool
                    </div>
                    <div class="tp-body">
                      <ul class="tp-list">
                        <li>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                        </li>
                        <li>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                        </li>
                        <li>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                        </li>
                        <li>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                        </li>
                        <li>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="tl-right">
                  <div class="timeline-badge">Friday, May 10</div>
                  <div class="timeline-panel">
                    <div class="tp-header">
                      Management Tool
                    </div>
                    <div class="tp-body">
                      <ul class="tp-list">
                        <li>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                        </li>
                        <li>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                        </li>
                        <li>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                        </li>
                        <li>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                        </li>
                        <li>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="tl-left">
                  <div class="timeline-badge">thursday, May 09</div>
                  <div class="timeline-panel">
                    <div class="tp-header">
                      Management Tool
                    </div>
                    <div class="tp-body">
                      <ul class="tp-list">
                        <li>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                        </li>
                        <li>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                        </li>
                        <li>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                        </li>
                        <li>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                        </li>
                        <li>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="tl-right">
                  <div class="timeline-badge">wednesday, May 08</div>
                  <div class="timeline-panel">
                    <div class="tp-header">
                      Management Tool
                    </div>
                    <div class="tp-body">
                      <ul class="tp-list">
                        <li>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                        </li>
                        <li>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                        </li>
                        <li>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                        </li>
                        <li>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                        </li>
                        <li>
                          <div class="tp-time">
                            11:11 PM
                          </div>
                          <div class="tp-img">
                            <img src="assets/images/users/avatar-7.jpg" class="img-fluid rounded-circle">
                          </div>
                          <div class="tp-task">
                            Kishan Patel assigned a task to Dhrumin <a href="">create dashboard</a>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>