<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <div class="">

          <h4 class="mb-0 font-size-18">Profile</h4>
        </div>
        <div class="">

        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-12 ">

      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <mat-tab label="Account">
          <div class="col-md-6 col-12">
            Account Details
          </div>
        </mat-tab>
        <mat-tab label="Change Password">
          <div class="col-md-6 col-12 mb-2">
            Change Password
          </div>
        </mat-tab>
        <mat-tab label="Privacy and Safety">
          <div class="col-md-6 col-12 mb-2">
            Privacy and Safety
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
