.scrumboard{ flex-wrap: nowrap; overflow-x: auto; }
.status-card{ background-color: #EBEBEE; }
.status-card > .card-body{ padding: 15px; }

.status-label-list{     display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin-bottom: 10px; }
.status-label-list .status-label{ flex: 0 0 30px;
  max-width: 29px;
  height: 8px;
  border-radius: 5px;
  margin-right: 5px; }
.status-label-list .status-label:nth-last-child(1){ margin-right: 0px; }
.status-label-list .sl-high-priority{ background-color: #F6C344; }
.status-label-list .sl-blocked{ background-color: #E15241; }
.status-label-list .sl-approved{ background-color: #67AC5C; }
.status-label-list .sl-ready{ background-color: #55BAD1; }
.status-label-list .sl-deployed{ background-color: #9035AA; }

.task-box .task-title{
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0;
}
.task-box .card-body{ padding: 10px; }
.task-box .card-footer{ padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
.task-box .card-footer .task-team .team-list {     list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.task-box .card-footer .task-team .team-list li img{     height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -10px;
  border: 2px solid #fff; }
  .task-box .card-footer .task-team .team-list li:nth-child(1) img{ margin-left: 0px; }
/* .root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app-name {
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.has-gradient-text {
  background: -webkit-linear-gradient(#13f7f4, #2af598);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
}
.board .board-bar {
  background: rgba(128, 128, 128, 0.5);
  padding: 8px 15px;
}
.board .board-bar .board-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.board .board-wrapper {
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
}
.board .board-wrapper .board-columns {
  display: flex;
  flex-grow: 1;
}
.board .board-wrapper .board-columns .board-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 300px;
  margin: 50px;
  padding: 25px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
}
.board .board-wrapper .board-columns .board-column:not(:first-child) {
  margin-left: 0;
}
.board .board-wrapper .board-columns .board-column .column-title {
  font-size: 20px;
  font-weight: 800;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.tasks-container {
  flex-grow: 1;
  overflow-y: auto;
}
.task {
  display: flex;
  padding: 15px 12px;
  background: white;
  border-bottom: solid 1px #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05), 0 3px 14px 2px rgba(0, 0, 0, 0.05);
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
} */
