<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <div class="">

          <h4 class="mb-0 font-size-18">Scrumboard</h4>

          <div class="page-title-left">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">User</a></li>
              <li class="breadcrumb-item active">User List</li>
            </ol>
          </div>
        </div>
        <div class="">

        </div>

      </div>
    </div>
  </div>
  <!-- end page title -->
  <div class="row scrumboard" cdkDropListGroup>
    <div class="col-lg-4 col-md-4 col-sm-12" *ngFor="let column of board.columns">
      <div class="card status-card">
        <div class="card-body">
          <h4 class="card-title mb-4">{{ column.name }}</h4>

          <div class="pb-1 task-list" cdkDropList [cdkDropListData]="column.tasks" (cdkDropListDropped)="drop($event)">
              <div class="card task-box" *ngFor="let item of column.tasks" cdkDrag>
                  <div class="card-body">
                    {{ item }}
                  </div>
              </div>
          </div>

          <button mat-raised-button color="primary"><mat-icon>add</mat-icon>Primary</button>
        </div>
      </div>

    </div>
  </div>

  <!-- <div class="root">

    <div class="board">

      <div class="board-bar">
        <p class="board-name">{{ board.name }}</p>
      </div>

      <div class="board-wrapper">

        <div class="board-columns" cdkDropListGroup>
          <div class="board-column" *ngFor="let column of board.columns">

            <div class="column-title">
              {{ column.name }}
            </div>

            <div class="tasks-container" cdkDropList [cdkDropListData]="column.tasks"
              (cdkDropListDropped)="drop($event)">
              <div class="task" *ngFor="let item of column.tasks" cdkDrag>
                {{ item }}
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div> -->

</div>