<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <div class="">

          <h4 class="mb-0 font-size-18">Scrumboard</h4>

          <div class="page-title-left">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">User</a></li>
              <li class="breadcrumb-item active">User List</li>
            </ol>
          </div>
        </div>
        <div class="">

        </div>

      </div>
    </div>
  </div>
  <!-- end page title -->
  <div class="row scrumboard" cdkDropList [cdkDropListData]="board.columns" (cdkDropListDropped)="dropGroup($event)">

    <div class="col-lg-4 col-md-4 col-sm-12" cdkDropListGroup *ngFor="let column of board.columns" cdkDrag
      [cdkDragData]="column">
      <div class="card status-card">
        <div class="card-body">
          <h4 class="card-title mb-4">{{ column.name }}</h4>
          <div class="pb-1 task-list" cdkDropList id={{column.id}} [cdkDropListData]="column.tasks"
            (cdkDropListDropped)="dropItem($event)" [cdkDropListConnectedTo]="getConnectedList()">
            <div class="card task-box" *ngFor="let item of column.tasks" cdkDrag [cdkDragData]="item">
              <div class="card-body">
                {{ item }}
              </div>
            </div>

            <div class="card task-box ">
              <div class="card-body">
                <ul class="status-label-list">
                  <li class="status-label sl-high-priority"></li>
                  <li class="status-label sl-blocked"></li>
                  <li class="status-label sl-approved"></li>
                  <li class="status-label sl-ready"></li>
                  <li class="status-label sl-deployed"></li>
                </ul>
                <h5 class="task-title">Create Login Screen</h5>
              </div>
            </div>
            <div class="card task-box">
              <div class="card-body">
                <ul class="status-label-list">
                  <li class="status-label sl-high-priority"></li>
                  <li class="status-label sl-blocked"></li>
                  <li class="status-label sl-approved"></li>
                  <li class="status-label sl-ready"></li>
                  <li class="status-label sl-deployed"></li>
                </ul>
                <h5 class="task-title">Create Login Screen</h5>
              </div>
              <div class="card-footer">
                <div class="task-action">
                  <button type="button" class="btn btn-success btn-sm waves-effect waves-light mr-1">
                    <i class="bx bxs-bell
                        font-size-16 align-middle mr-1"></i> Apr, 8
                  </button>
                  <button type="button" class="btn btn-light btn-sm waves-effect waves-light mr-1">
                    <i class="bx bxs-comment-detail
                       font-size-16 align-middle mr-1"></i> 8
                  </button>
                  <button type="button" class="btn btn-light btn-sm waves-effect waves-light">
                    <i class="bx bx-paperclip
                     font-size-16 align-middle mr-1"></i> 15
                  </button>

                </div>
                <div class="task-team">
                  <ul class="team-list">
                    <li><img src="assets/images/users/avatar-1.jpg" alt="Team Member"></li>
                    <li><img src="assets/images/users/avatar-2.jpg" alt="Team Member"></li>
                    <li><img src="assets/images/users/avatar-3.jpg" alt="Team Member"></li>
                  </ul>
                </div>


              </div>
            </div>
            <div class="card task-box">
              <div class="card-img" style="background-image: url('assets/images/scrumboard.jpg');">

              </div>
              <div class="card-body">
                <ul class="status-label-list">
                  <li class="status-label sl-high-priority"></li>
                  <li class="status-label sl-blocked"></li>
                  <li class="status-label sl-approved"></li>
                  <li class="status-label sl-ready"></li>
                  <li class="status-label sl-deployed"></li>
                </ul>
                <h5 class="task-title">Create Login Screen</h5>
              </div>
              <div class="card-footer">
                <div class="task-action">
                  <button type="button" class="btn btn-success btn-sm waves-effect waves-light mr-1">
                    <i class="bx bxs-bell
                        font-size-16 align-middle mr-1"></i> Apr, 8
                  </button>
                  <button type="button" class="btn btn-light btn-sm waves-effect waves-light mr-1">
                    <i class="bx bxs-comment-detail
                       font-size-16 align-middle mr-1"></i> 8
                  </button>
                  <button type="button" class="btn btn-light btn-sm waves-effect waves-light">
                    <i class="bx bx-paperclip
                     font-size-16 align-middle mr-1"></i> 15
                  </button>

                </div>
                <div class="task-team">
                  <ul class="team-list">
                    <li><img src="assets/images/users/avatar-1.jpg" alt="Team Member"></li>
                    <li><img src="assets/images/users/avatar-2.jpg" alt="Team Member"></li>
                    <li><img src="assets/images/users/avatar-3.jpg" alt="Team Member"></li>
                  </ul>
                </div>


              </div>
            </div>

          </div>

          <button mat-raised-button color="primary" class="btn-block">
            <mat-icon>add</mat-icon>Primary
          </button>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card status-card">
        <div class="card-body">
          <h4 class="card-title mb-4" *ngIf="temp">Tiitle Here Print after enter the title name</h4>
          <button mat-raised-button color="light" class="btn-block" data-toggle="modal" data-target="#createListModal">
            <mat-icon>add</mat-icon>Add List
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="root">

    <div class="board">

      <div class="board-bar">
        <p class="board-name">{{ board.name }}</p>
      </div>

      <div class="board-wrapper">

        <div class="board-columns" cdkDropListGroup>
          <div class="board-column" *ngFor="let column of board.columns">

            <div class="column-title">
              {{ column.name }}
            </div>

            <div class="tasks-container" cdkDropList [cdkDropListData]="column.tasks"
              (cdkDropListDropped)="drop($event)">
              <div class="task" *ngFor="let item of column.tasks" cdkDrag>
                {{ item }}
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div> -->

</div>


<div class="modal fade" id="createListModal" tabindex="-1" role="dialog" aria-labelledby="createListModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0">Create List Modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            add material textbox here
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->