<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <div class="">

          <h4 class="mb-0 font-size-18">Scrumboard</h4>

          <div class="page-title-left">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">User</a></li>
              <li class="breadcrumb-item active">User List</li>
            </ol>
          </div>
        </div>
        <div class="">

        </div>

      </div>
    </div>
  </div>
  <!-- end page title -->
  <div class="row scrumboard" cdkDropList [cdkDropListData]="board.columns" (cdkDropListDropped)="dropGroup($event)">

    <div class="col-lg-4 col-md-4 col-sm-12" cdkDropListGroup *ngFor="let column of board.columns;let i =index;" cdkDrag
      [cdkDragData]="column">
      <div class="card status-card">
        <div class="card-body">
          <h4 class="card-title mb-4">{{ column.name }}</h4>
          <div class="pb-1 task-list" cdkDropList id={{column.id}} [cdkDropListData]="column.tasks"
            (cdkDropListDropped)="dropItem($event)" [cdkDropListConnectedTo]="getConnectedList()">
            <div class="card task-box" *ngFor="let item of column.tasks;let j = index;" cdkDrag [cdkDragData]="item">
              <!-- <div class="card-body" (click)="utilsService.openModal('createCardModal')">
                {{ item.name }}
              </div> -->
              <div class="card-img" *ngIf="item.coverImageUrl"  [ngStyle]="{'background-image': 'url('+ item.coverImageUrl + ')'}">

              </div>
              <div class="card-body" (click)="openCardModal(item, j,i)">
                <ul class="status-label-list" *ngIf="item.labels">
                  <li *ngFor="let item1 of item.labels" class="status-label" [ngClass]="{'sl-high-priority': item1.name === 'High Priority',
                  'sl-blocked':item1.name === 'Blocked',
                  'sl-approved':item1.name === 'Approved',
                  'sl-ready':item1.name === 'Ready',
                  'sl-deployed':item1.name === 'Deployed'}"></li>
                  <!-- <li class="status-label sl-high-priority"></li>
                  <li class="status-label sl-blocked"></li>
                  <li class="status-label sl-approved"></li>
                  <li class="status-label sl-ready"></li>
                  <li class="status-label sl-deployed"></li> -->
                </ul>
                <h5 class="task-title">{{item.name}}</h5>
              </div>
              <div class="card-footer">
                <div class="task-action">
                  <button type="button" class="btn btn-success btn-sm waves-effect waves-light mr-1">
                    <i class="bx bxs-bell
                        font-size-16 align-middle mr-1"></i> Apr, 8
                  </button>
                  <button type="button" class="btn btn-light btn-sm waves-effect waves-light mr-1">
                    <i class="bx bxs-comment-detail
                       font-size-16 align-middle mr-1"></i> 8
                  </button>
                  <button type="button" class="btn btn-light btn-sm waves-effect waves-light">
                    <i class="bx bx-paperclip
                     font-size-16 align-middle mr-1"></i> 15
                  </button>

                </div>
                <div class="task-team" *ngIf="item.members">
                  <ul class="team-list">
                    <li *ngFor="let item1 of item.members"><img [src]="item1.profileImg">
                    </li>
                    <!-- <li><img src="assets/images/users/avatar-2.jpg" alt="Team Member"></li>
                    <li><img src="assets/images/users/avatar-3.jpg" alt="Team Member"></li> -->
                  </ul>
                </div>


              </div>
            </div>

            <!-- <div class="card task-box ">
              <div class="card-body">
                <ul class="status-label-list">
                  <li class="status-label sl-high-priority"></li>
                  <li class="status-label sl-blocked"></li>
                  <li class="status-label sl-approved"></li>
                  <li class="status-label sl-ready"></li>
                  <li class="status-label sl-deployed"></li>
                </ul>
                <h5 class="task-title">Create Login Screen</h5>
              </div>
            </div>
            <div class="card task-box">
              <div class="card-body">
                <ul class="status-label-list">
                  <li class="status-label sl-high-priority"></li>
                  <li class="status-label sl-blocked"></li>
                  <li class="status-label sl-approved"></li>
                  <li class="status-label sl-ready"></li>
                  <li class="status-label sl-deployed"></li>
                </ul>
                <h5 class="task-title">Create Login Screen</h5>
              </div>
              <div class="card-footer">
                <div class="task-action">
                  <button type="button" class="btn btn-success btn-sm waves-effect waves-light mr-1">
                    <i class="bx bxs-bell
                        font-size-16 align-middle mr-1"></i> Apr, 8
                  </button>
                  <button type="button" class="btn btn-light btn-sm waves-effect waves-light mr-1">
                    <i class="bx bxs-comment-detail
                       font-size-16 align-middle mr-1"></i> 8
                  </button>
                  <button type="button" class="btn btn-light btn-sm waves-effect waves-light">
                    <i class="bx bx-paperclip
                     font-size-16 align-middle mr-1"></i> 15
                  </button>

                </div>
                <div class="task-team">
                  <ul class="team-list">
                    <li><img src="assets/images/users/avatar-1.jpg" alt="Team Member"></li>
                    <li><img src="assets/images/users/avatar-2.jpg" alt="Team Member"></li>
                    <li><img src="assets/images/users/avatar-3.jpg" alt="Team Member"></li>
                  </ul>
                </div>


              </div>
            </div>
            <div class="card task-box">
              <div class="card-img" style="background-image: url('assets/images/scrumboard.jpg');">

              </div>
              <div class="card-body">
                <ul class="status-label-list">
                  <li class="status-label sl-high-priority"></li>
                  <li class="status-label sl-blocked"></li>
                  <li class="status-label sl-approved"></li>
                  <li class="status-label sl-ready"></li>
                  <li class="status-label sl-deployed"></li>
                </ul>
                <h5 class="task-title">Create Login Screen</h5>
              </div>
              <div class="card-footer">
                <div class="task-action">
                  <button type="button" class="btn btn-success btn-sm waves-effect waves-light mr-1">
                    <i class="bx bxs-bell
                        font-size-16 align-middle mr-1"></i> Apr, 8
                  </button>
                  <button type="button" class="btn btn-light btn-sm waves-effect waves-light mr-1">
                    <i class="bx bxs-comment-detail
                       font-size-16 align-middle mr-1"></i> 8
                  </button>
                  <button type="button" class="btn btn-light btn-sm waves-effect waves-light">
                    <i class="bx bx-paperclip
                     font-size-16 align-middle mr-1"></i> 15
                  </button>

                </div>
                <div class="task-team">
                  <ul class="team-list">
                    <li><img src="assets/images/users/avatar-1.jpg" alt="Team Member"></li>
                    <li><img src="assets/images/users/avatar-2.jpg" alt="Team Member"></li>
                    <li><img src="assets/images/users/avatar-3.jpg" alt="Team Member"></li>
                  </ul>
                </div>


              </div>
            </div> -->

          </div>

          <button mat-raised-button color="primary" class="btn-block" (click)="openCreateModal(i,'createListModal')">
            <mat-icon>add</mat-icon>Add a card
          </button>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card status-card">
        <div class="card-body">
          <button mat-raised-button color="light" class="btn-block" *ngIf="!flagForHideShowAddListButton"
            (click)="flagForHideShowAddListButton = !flagForHideShowAddListButton">
            <mat-icon>add</mat-icon>Add List
          </button>
          <div class="card" *ngIf="flagForHideShowAddListButton">
            <div class="card-body">
              <mat-form-field appearance="outline">
                <mat-label>List Title</mat-label>
                <input matInput [(ngModel)]="listNgModel">
              </mat-form-field>
              <button mat-raised-button color="primary" class="mr-2" (click)="addList()">
                Add List
              </button>
              <button mat-raised-button (click)="cancelAddList()">Cancel</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- <div class="root">

    <div class="board">

      <div class="board-bar">
        <p class="board-name">{{ board.name }}</p>
      </div>

      <div class="board-wrapper">

        <div class="board-columns" cdkDropListGroup>
          <div class="board-column" *ngFor="let column of board.columns">

            <div class="column-title">
              {{ column.name }}
            </div>

            <div class="tasks-container" cdkDropList [cdkDropListData]="column.tasks"
              (cdkDropListDropped)="drop($event)">
              <div class="task" *ngFor="let item of column.tasks" cdkDrag>
                {{ item }}
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div> -->

</div>


<div class="modal fade" id="createListModal" tabindex="-1" role="dialog" aria-labelledby="createListModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0">Card Title</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="assets/images/modal-close.svg">
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>Card Title</mat-label>
              <input matInput [(ngModel)]="cardTitle">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button mat-raised-button color="primary" (click)="createCard()">
          Create
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade createtaskmodal" id="createCardModal" tabindex="-1" role="dialog"
  aria-labelledby="createCardModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close absolute-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">

          <div class="col-md-12 col-sm-12">
            <h4 class="task-name d-flex">
              <mat-icon>assignment</mat-icon>{{cardObj.name}}
            </h4>
            <ul class="board-status">
              <li>Tech Startup Board</li>
              <li>{{cardObj.status}}</li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12 members">
            <h5 class="d-flex sub-title"> Member
            </h5>
            <ul class="memberlist">
              <li *ngFor="let item of cardObj.members"><img [src]="item.profileImg">
              </li>
              <!-- <li><img src="assets/images/users/avatar-1.jpg" alt="Team Member"></li>
              <li><img src="assets/images/users/avatar-2.jpg" alt="Team Member"></li>
              <li><img src="assets/images/users/avatar-3.jpg" alt="Team Member"></li> -->
              <li class="addmember">
                <button mat-icon-button matTooltip="Users" class="btn-round-member" (click)=select.open()>
                  <mat-icon>add</mat-icon>
                </button>
                <mat-select #select [(ngModel)]="cardObj.members" class="langSelect" appendTo="body" multiple>
                  <mat-option *ngFor="let usr of userList" [value]="usr"><img class="memberimg"
                      [src]="usr.profileImg">{{usr.name}}</mat-option>
                </mat-select>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12">
            <h5 class="sub-title text-right"> Labels </h5>
            <ul class="labellist">
              <li *ngFor="let item of cardObj.labels" class="label-high-priority" [ngClass]="{'label-high-priority': item.name === 'High Priority',
              'label-blocked':item.name === 'Blocked',
              'label-approved':item.name === 'Approved',
              'label-ready':item.name === 'Ready',
              'label-deployed':item.name === 'Deployed'}">{{item.name}}</li>
              <!-- <li class="label-blocked">Block</li>
              <li class="label-approved">Approve</li> -->
              <li class="addlabel"> <button mat-icon-button matTooltip="Users" class="btn-square-member"
                  (click)=select1.open()>
                  <mat-icon>add</mat-icon>
                </button>
                <mat-select #select1 [(ngModel)]="cardObj.labels" class="langSelect" appendTo="body" multiple>
                  <mat-option *ngFor="let sts of statusList" [value]="sts">{{sts.name}}</mat-option>
                </mat-select>
              </li>
            </ul>
          </div>
          <div class="col-md-12 col-sm-12 mb-2">
            <hr>
          </div>
          <div class="col-md-6 col-sm-12 mb-2">
            <h5 class="sub-title d-flex">
              <mat-icon>image</mat-icon>Cover Image
            </h5>
          </div>
          <div class="col-md-6 col-sm-12 mb-2 text-right">
            <div class="btn-file">
              <button mat-raised-button matTooltip="Users" color="transparent">
                <mat-icon>add</mat-icon> Add Cover Image
              </button>
              <input type="file" accept="image/*" (change)="onCoverImageSelect($event)">
            </div>
          </div>
          <div class="col-md-12 col-sm-12">
            <h5 class="sub-title d-flex">
              <mat-icon>description</mat-icon>Description
            </h5>
          </div>
          <div class="col-md-12 col-sm-12">
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Description</mat-label>
              <textarea matInput autocomplete="off" [(ngModel)]="cardObj.description"></textarea>
            </mat-form-field>

          </div>
          <div class="col-md-6 col-sm-12">
            <h5 class="sub-title d-flex">
              <mat-icon>attach_file</mat-icon>Attachments
            </h5>
          </div>
          <div class="col-md-6 col-sm-12 text-right">
            <div class="btn-file">
              <button mat-raised-button matTooltip="Users" color="transparent">
                <mat-icon>add</mat-icon> ADD AN ATTACHMENTS
              </button>
              <input type="file">
            </div>
          </div>

          <div class="col-md-12 col-sm-12">
            <hr>
          </div>
          <div class="col-md-12 col-sm-12 mb-4">
            <h5 class="sub-title d-flex">
              <mat-icon>comment</mat-icon>Comments
            </h5>
          </div>
          <div class="col-md-12 col-sm-12 ml-4">
            <img class="commentusr" src="assets/images/users/avatar-3.jpg" alt="Team Member">

            <mat-form-field appearance="outline" class="mr-4" fxFlex="100">
              <input matInput autocomplete="off" placeholder="Write a comment..." [(ngModel)]="cardObj.comment">
              <button class="commentbtn no-hover-effect" mat-button color="primary">SEND</button>

            </mat-form-field>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button mat-raised-button color="primary" class="mr-2" (click)="saveCard()">
          Save
        </button>
        <button mat-raised-button color="light" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
