@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
body{ font-family: 'Nunito', sans-serif; }

/* Common CSS */
.absolute-clos{ position: absolute; top: 0px; right: 0px; }

/* Header CSS */
.noti-icon .badge{ right: 6px; }
.dropdown-profile .dropdown-menu{ min-width: 230px; 
    /* transform: translate3d(0px, 0px, 0px) !important;  */
}
.dropdown-profile .dropdown-header{ padding: 15px; border-bottom: 1px solid #f2f4f9; }
.dropdown-profile .dropdown-header .figure  img{ width: 80px; height: 80px; border-radius: 50%; }
.dropdown-profile .dropdown-header .info{ color: #212529; font-size: 15px; }

.authentication{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.authleftimg{ animation: jumping 2s ease-in-out 2s infinite alternate;animation-delay: 1s;transition: all .9s ease 5s }
@keyframes jumping {  0% {
    transform: translateY(0px);
   }
    50% {
    transform: translateY(-15px);
   }
    100% {
    transform: translateY(0px);
   }
   
   }
   .bg-rotaion { backface-visibility: hidden; animation: rotation 30s ease-in-out 2s infinite alternate; animation-delay: 1s; transition: all .9s ease 5s; user-select: none; }
   @keyframes rotation {  0% {
    transform: rotate(0);
   }
    50% {
    transform: rotate(10deg);
   }
    100% {
    transform: rotate(0);
   }
   }
.authentication .card{ box-shadow: 0 22px 32px 0 rgba(0, 0, 0, 0.2); }
/* Table CSS */
.table thead { background-color: #f1f3fa; }
.table .srno{ width: 60px; }
.table .table-action{ width: 130px; }
.table .table-action .btn-action { padding: 0 6px; }

/* Card CSS */
.card .card-search { display: flex; flex-direction: row; align-items: center; justify-content: space-between; }
.card .card-header{ background-color: #fff; border-bottom: 1px solid #f2f4f9; }
.card .card-footer{ background-color: #fff; border-top: 1px solid #f2f4f9; }

/* Material Control CSS */
body .mat-button, 
body .mat-raised-button,
body .mat-form-field{
    font-family: 'Nunito', sans-serif;
}
body .mat-button, body .mat-raised-button{ font-size: 16px;  }

/* Button CSS */
.mat-raised-button.mat-primary{ background-color: #556ee6; color: #fff; }
.mat-raised-button.mat-light{ color: #212529; background-color: #eff2f7; }
.mat-raised-button.mat-black{ color: #fff; background-color: #5d6071; }
.mat-raised-button.mat-transparent{ color: #556ee6 !important; background-color: transparent; box-shadow: none !important; }
.mat-raised-button.mat-transparent .mat-icon{ color: #556ee6 !important; }
.btn-primary {
    color: #fff;
    background-color: #556ee6;
    border-color: #556ee6;
}
.btn-file{ position: relative; }
.btn-file input[type="file"]{
    position: absolute;
    right: 0;
    left: 0;
    opacity: 0;
}

/* Material Control CSS */
body .cdk-overlay-container{ z-index: 9999; }
.mat-form-field{ width: 100%; }
.mat-form-field .mat-form-field-wrapper{
    padding-bottom: 30px;
    margin: 0 !important;
}
.mat-form-field.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 12px 0 12px 0;
    border-top: 4px solid transparent;
}
.mat-form-field.mat-form-field-appearance-outline .mat-form-field-label {
    top: 29px;
    margin-bottom: 0;}
.mat-form-field.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label, 
.mat-form-field.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
        transform: translateY(-19px) scale(.75);
    }
.mat-form-field.mat-form-field.mat-focused .mat-form-field-label {
        color: #3f51b5;
    }
    .mat-form-field.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: #556ee6;
    }


/* Scrumbboard CSS */
.createtaskmodal .mat-select .mat-select-arrow-wrapper{ display: none;  }