@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
body{ font-family: 'Nunito', sans-serif; }

/* Common CSS */
.absolute-clos{ position: absolute; top: 0px; right: 0px; }
.note-msg { font-size: 14px; }
.note-msg span{     font-weight: 600;
    font-size: 15px;}

/* Header CSS */
.noti-icon .badge{ right: 6px; }
.dropdown-profile .dropdown-menu{ min-width: 230px;
    /* transform: translate3d(0px, 0px, 0px) !important;  */
}
.dropdown-profile .dropdown-header{ padding: 15px; border-bottom: 1px solid #f2f4f9; }
.dropdown-profile .dropdown-header .figure  img{ width: 80px; height: 80px; border-radius: 50%; }
.dropdown-profile .dropdown-header .info{ color: #212529; font-size: 15px; }

.authentication{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.authleftimg{ animation: jumping 2s ease-in-out 2s infinite alternate;animation-delay: 1s;transition: all .9s ease 5s }
@keyframes jumping {  0% {
    transform: translateY(0px);
   }
    50% {
    transform: translateY(-15px);
   }
    100% {
    transform: translateY(0px);
   }

   }
   .bg-rotaion { backface-visibility: hidden; animation: rotation 30s ease-in-out 2s infinite alternate; animation-delay: 1s; transition: all .9s ease 5s; user-select: none; }
   @keyframes rotation {  0% {
    transform: rotate(0);
   }
    50% {
    transform: rotate(10deg);
   }
    100% {
    transform: rotate(0);
   }
   }
.authentication .card{ box-shadow: 0 22px 32px 0 rgba(0, 0, 0, 0.2); }
/* Table CSS */
.table thead { background-color: #f1f3fa; }
.table .srno{ width: 60px; }
.table .table-action{ width: 130px; }
.table .table-action .btn-action { padding: 0 6px; }

/* Card CSS */
.card .card-search { display: flex; flex-direction: row; align-items: center; justify-content: space-between; }
.card .card-header{ background-color: #fff; border-bottom: 1px solid #f2f4f9; }
.card .card-footer{ background-color: #fff; border-top: 1px solid #f2f4f9; }

/* Material Control CSS */
body .mat-button,
body .mat-raised-button,
body .mat-form-field,
body .mat-tab-group,
body .mat-tab-label,
body .mat-tab-link,
body .mat-select,
body .mat-select-panel .mat-option{
    font-family: 'Nunito', sans-serif;
}
body .mat-button, body .mat-raised-button{ font-size: 16px; }

/* Button CSS */
.mat-raised-button.mat-primary{ background-color: #556ee6; color: #fff; }
.mat-raised-button.mat-success{ background-color: #34c38f; color: #fff; }
.mat-raised-button.mat-info{ background-color: #50a5f1; color: #fff; }
.mat-raised-button.mat-light{ color: #212529; background-color: #eff2f7; }
.mat-raised-button.mat-black{ color: #fff; background-color: #5d6071; }
.mat-raised-button.mat-transparent{ color: #556ee6 !important; background-color: transparent; box-shadow: none !important; }
.mat-raised-button.mat-transparent .mat-icon{ color: #556ee6 !important; }
.mat-raised-button .mat-icon{ font-size: 16px; line-height: 20px; }
.btn-primary {
    color: #fff;
    background-color: #556ee6;
    border-color: #556ee6;
}
.btn-file{ position: relative; }
.btn-file input[type="file"]{
    position: absolute;
    right: 0;
    left: 0;
    opacity: 0;
}

/* Formgroup CSS */
.form-group .control-label{     color: #333;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 17px;}

/* Material Control CSS */
body .cdk-overlay-container{ z-index: 9999; }
 .mat-form-field{ width: 100%; }
.mat-form-field .mat-form-field-wrapper{
    padding-bottom: 30px;
    margin: 0 !important;
}
.mat-form-field.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 12px 0 12px 0;
    border-top: 4px solid transparent;
}
.mat-form-field.mat-form-field-appearance-outline .mat-form-field-label {
    top: 29px;
    margin-bottom: 0;}
.mat-form-field.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label,
.mat-form-field.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
        transform: translateY(-19px) scale(.75);
    }
.mat-form-field.mat-form-field.mat-focused .mat-form-field-label {
        color: #3f51b5;
    }
    .mat-form-field.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: #556ee6;
    }
.mat-form-field .mat-form-field-subscript-wrapper {     margin-top: -8px; }
.mat-form-field.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 6px;
}
body mat-label{ color: rgba(0,0,0,.6); }
body .theme-ngselect .ng-select{ padding-bottom: 0px; }
body .theme-ngselect.mat-form-field-appearance-outline .mat-form-field-infix{ padding: 9px 0px 8px; }
body .theme-ngselect .ng-select .ng-select-container:after{ display: none; }
body .theme-ngselect .ng-select .ng-select-container{ height: 25px; min-height: 25px; max-height: 25px; }
body .theme-ngselect .ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper{ bottom: 6px; }
body .theme-ngselect .ng-select .ng-select-container .ng-value-container{ padding: 5px 0 0; border-top: 0 solid transparent; }
body .theme-ngselect .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{ top: 3px; bottom: 0; }
body .theme-ngselect .ng-select.ng-select-single .ng-select-container .ng-clear-wrapper{ bottom: 3px; }
body .theme-datetimepicker input[type="text"] { width: 100%; border: 0; background-color: transparent; outline: 0; }
body .mat-accent .mat-pseudo-checkbox-checked,
body .mat-accent .mat-pseudo-checkbox-indeterminate,
body .mat-pseudo-checkbox-checked,
body .mat-pseudo-checkbox-indeterminate { background: #556ee6; }
body .mat-tab-group .mat-tab-label{
    font-size: 16px; font-weight: 600; color: #333 !important; opacity: 1 !important; }
.mat-tab-group .mat-tab-body .mat-tab-body-content{ overflow: hidden; padding: 30px 20px 20px; }
body .member-img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 0px 7px;
  }
/* .mat-form-field{ font-family: inherit !important; }
.mat-form-field-wrapper { padding-bottom: 15px; }
.mat-form-field-appearance-outline .mat-form-field-infix { padding: 9px 0px !important; }
.mat-form-field-appearance-outline .mat-form-field-label { top: 20px !important; }
.mat-form-field { margin-bottom: 10px !important; }
.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label { transform: translateY(-17px) scale(.75) !important; }
.mat-form-field-subscript-wrapper { margin-top: 3px !important; }
input.mat-input-element { line-height: 1px; }
.mat-form-field-label { color: rgba(0,0,0,.6) !important; }
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick { color: #922B88 !important; }
mat-form-field.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: #922B88; }
.mat-form-field .mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field .mat-form-field-appearance-outline .mat-form-field-suffix { top: 1px; } */

/* MOdal SVG Color  */
/* #212529 */

/* Scrumbboard CSS */
.createtaskmodal .mat-select .mat-select-arrow-wrapper{ display: none;  }
.hide-datepicker .mat-form-field-wrapper{ padding-bottom: 0px !important; }
.hide-datepicker .mat-form-field-infix{ padding: 0 !important; border-top: 0 !important; }


/* User Profile CSS */
.userprofile-tab .mat-tab-label{ font-size: 16px; font-weight: 600; color: #333 !important; opacity: 1 !important;}
.userprofile-tab .user-img{ text-align: center; text-align: center;
    height: 130px;
    width: 130px;
    margin: 0 auto;
    position: relative; }
.userprofile-tab .user-img img { height: 130px; width: 130px; }
.userprofile-tab .user-img .profile-edit{ position: absolute;     top: 0;
    right: 0; }
.userprofile-tab .user-img .profile-edit input[type="file"]{
    position: absolute;
    right: 0;
    left: 0;
    opacity: 0;
}
.userprofile-tab .user-img .profile-edit button{
    background-color: #50a5f1;
    border: 1px solid #50a5f1;
    color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
}
.userprofile-tab .user-img .profile-edit .mat-icon{
    font-size: 16px;
    margin-left: -2px;
    margin-top: 5px;
}
.userprofile-tab .mat-tab-body{ padding: 0px; }
.userprofile-tab .mat-tab-body-content{ overflow: hidden;  }

/* Calender CSS */
.full-calender .cal-month-view .cal-day-cell{ outline: 0px; }
.full-calender .cal-month-view .cal-open-day-events{ background-color: #222736; box-shadow:none }
body .ng-dropdown-panel{ z-index: 9999; }
