<div id="layout-wrapper">
    <app-toolbar></app-toolbar>
    <app-navbar></app-navbar>
    <div class="main-content">
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</div>
<!-- Right Sidebar -->
<div class="right-bar">
    <div data-simplebar class="h-100">
        <div class="rightbar-title px-3 py-4">
            <a href="javascript:void(0);" class="right-bar-toggle float-right">
                <i class="mdi mdi-close noti-icon"></i>
            </a>
            <h5 class="m-0">Settings</h5>
        </div>

        <!-- Settings -->
        <hr class="mt-0" />
        <h6 class="text-center mb-0">Choose Layouts</h6>

        <div class="p-4">

            <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" (change)="this.changeTheme()"
                [disabled]="disabled">
                Dark Mode
            </mat-slide-toggle>


        </div>

    </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>